<mat-card class="mycard">
  <mat-card-header>
    <mat-card-title>Person data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>First name: {{ person.firstName }} </p>
    <p>Middle name: {{ middlename }} </p>
    <p>Last name: {{ person.lastName }} </p>
    <p>Age: {{ person.age }} </p>
    <p>Address: {{ person.address }} </p>
    <form>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" value="{{ person.firstName }} ">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <p>LIKE</p>
    </button>
    <button mat-button>
      <p>SHARE</p>
    </button>
  </mat-card-actions>
  <input matInput placeholder="middlename" [(ngModel)]="middlename">
</mat-card>

